<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Icono de hamburguesa -->
      <!--<ion-menu-button></ion-menu-button>--->
    </ion-buttons>
    <ion-title>
      <!-- Título e icono bonito -->
      <ion-icon name="person"></ion-icon>
      ComicsLocuras
      <ion-icon name="person"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Aquí parte el registro -->
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <h1>Registro</h1>
      
      <!-- Campo Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="objetoRegistro.nombre"></ion-input>
      </ion-item>

     
      <!-- Campo Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="objetoRegistro.email" type="email"></ion-input>
      </ion-item>
      
      <!-- Validación de Email -->
      <ion-item *ngIf="!validarEmail(objetoRegistro.email) && objetoRegistro.email">
        <ion-label color="danger">Email inválido</ion-label>
      </ion-item>
      
      <!-- Campo Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="objetoRegistro.contrasena" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <!-- Campo Repetir Contraseña -->
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input [(ngModel)]="objetoRegistro.repetirContrasena" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <!-- Validación de Contraseña -->
      <ion-item *ngIf="!validarContrasena(objetoRegistro.contrasena) && objetoRegistro.contrasena">
        <ion-label color="danger">La contraseña debe tener entre 6 y 8 caracteres y al menos un carácter especial.</ion-label>
      </ion-item>

      <!-- Validación de coincidencia de contraseñas -->
      <ion-item *ngIf="objetoRegistro.contrasena !== objetoRegistro.repetirContrasena && objetoRegistro.repetirContrasena">
        <ion-label color="danger">Las contraseñas no coinciden</ion-label>
      </ion-item>
      
      <!-- Botón de Registro -->
      <ion-button expand="full" (click)="registrar()" [disabled]="!formularioValido()">Registrar</ion-button>
      <h5>¿Tienes cuenta? <a [routerLink]="['/login']">Inicia Sesión</a></h5>
      
    </ion-card-content>
  </ion-card>
</ion-content>
