ion-content {
    --background: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco para contraste */
}
ion-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8057e; /* Color rosa fuerte para el título */
  }
  
  ion-icon {
    color: #f03994; /* Color rosa fuerte para los íconos */
    margin: 0 5px; /* Espaciado entre el ícono y el texto */
  }

h1 {
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centra el texto */
    font-size: 2.5em; /* Tamaño más grande para el título principal */
    margin: 30px 0; /* Mayor separación superior e inferior */
    font-weight: bold; /* Negrita para mayor énfasis */
}

h2 {
    color: #fd11a3; /* Color dorado para destacar */
    text-align: center; /* Centra el texto */
    font-size: 2em; /* Tamaño mediano para subtítulo */
    padding: 10px; 
    border-radius: 5px; 
    margin: 20px 0; /* Ajusta margen superior e inferior */
    background-color: rgba(126, 123, 123, 0.2); /* Fondo semi-transparente para contraste */
    font-weight: bold; /* Negrita para mayor énfasis */
}

h3 {
    color: #9c9797; /* Color rojo para destacar */
    text-align: center; /* Centra el texto */
    font-size: 1.5em; /* Tamaño más pequeño para subtítulos secundarios */
    padding: 10px; 
    border-radius: 5px; 
    margin: 20px 0; /* Ajusta margen superior e inferior */
    background-color: rgba(197, 185, 185, 0.1); /* Fondo semi-transparente para contraste */
}

p {
    color: #ffffff; /* Texto blanco */
    text-align: center; /* Centra el texto */
    margin: 0 20px; /* Ajusta márgenes laterales */
}

ion-card {
    --background: #df159b; /* Fondo oscuro para el card */
    color: #ffffff; /* Texto blanco en el card */
}

ion-card img {
    border-radius: 5px; /* Bordes redondeados para la imagen */
}

ion-card-title {
    color: #ffffff; /* Texto blanco */
    font-weight: bold; /* Negrita para el título del card */
}

ion-card-content {
    color: #ffffff; /* Texto blanco */
}

/* Logo */
.logo {
    max-width: 40px;
    margin-right: 10px;
    vertical-align: middle;
  }
  