/* Estilo general para ion-page y ion-content */
.ion-page, ion-content {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente estilo cómic */
  height: 100%;
  margin: 0;
  padding: 0;
}

ion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8057e; /* Color rosa fuerte para el título */
}

ion-icon {
  color: #f03994; /* Color rosa fuerte para los íconos */
  margin: 0 5px; /* Espaciado entre el ícono y el texto */
}

/* Estilo para el ion-header */
ion-header {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
}

ion-header[collapse="condense"] {
  background-color: #000000; /* Fondo negro */
}

ion-title[size="large"] {
  font-size: 2em; /* Tamaño del título */
  color: #ffffff; /* Texto blanco */
}

/* Sección de productos */
.products-section {
  padding: 20px;
}

/* Estilo para las tarjetas de producto */
.product-card {
  background-color: #1e1e1e; /* Fondo negro oscuro */
  color: #ffffff; /* Texto blanco */
  border: 3px solid #FF00FF; /* Borde fucsia grueso */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra suave */
  margin: 20px 0; /* Espacio alrededor de la tarjeta */
  transition: transform 0.3s, box-shadow 0.3s; /* Animaciones suaves */
}

.product-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada */
}

.product-card img {
  border-bottom: 3px solid #FF00FF; /* Borde inferior fucsia */
  border-radius: 10px 10px 0 0; /* Bordes redondeados superiores */
  width: 100%; /* La imagen cubre el ancho de la tarjeta */
  height: auto;
}

/* Estilo para el título y subtítulo en las tarjetas */
ion-card-title {
  color: #ffffff; /* Título blanco */
  font-size: 1.5em; /* Tamaño de título */
  font-weight: bold; /* Negrita */
}

ion-card-subtitle {
  color: #FF00FF; /* Subtítulo fucsia */
  font-size: 1.2em;
  font-weight: bold;
}

/* Estilo para el contenido de las tarjetas */
ion-card-content p {
  color: #ffffff; /* Texto blanco */
  font-size: 1em; /* Tamaño de párrafo */
  margin-bottom: 10px;
}

/* Estilo para los botones */
ion-button {
  background-color: #003366; /* Fondo azul oscuro */
  color: #ffffff; /* Texto blanco */
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 20px; /* Tamaño del botón */
  margin: 5px 0;
}

/* Logo */
.logo {
  max-width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}