

<ion-header >
  <ion-toolbar> 
    <ion-buttons slot="start">
      <!--icono de hamburguesa-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!--titulo e icono bonito-->
      <ion-icon name="cart"></ion-icon>
      Carrito de Compras
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de productos en el carrito -->
  <ion-list>
      <!-- Lista de productos en el carrito -->
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <!-- Imagen manga -->
        <img src="assets/img/onepice.jpg" alt="Imagen del producto">
      </ion-thumbnail>
      <ion-label>
        <h2>Nombre del Producto</h2>
        <p>CLP Precio del Producto</p>
        <p>Envío: CLP Costo de Envío</p>
      </ion-label>
      <!-- ajustar la cantidad del producto solo decorativos mientras -->
      <ion-buttons slot="end">
        <ion-button>-</ion-button>
        <!--  cantidad actual -->
        <ion-label>1</ion-label>
         <!-- Botón para aumentar la cantidad de comics -->
        <ion-button>+</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Resumen del carrito -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Total  -->
      <p>Total estimado: CLP0</p>
      <ion-button expand="full" color="danger">Pagar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>



