<!---<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ComicsLocuras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito de Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">---->
    <!-- Ejemplo de producto en el carrito -->
    <!----<ion-item>
      <ion-thumbnail slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDB3VGe5kwnHUWmqlzz0tjIt_J0WtxXHFdpg&s" alt="Pato">
      </ion-thumbnail>
      <ion-label>
        <h2>Pato Colgante</h2>
        <p>Cantidad: 1</p>
        <p>Precio: $5.000</p>
      </ion-label>
    </ion-item>---->
    
    <!-- Otro ejemplo de producto -->
    <!---<ion-item>
      <ion-thumbnail slot="start">
        <img src="https://down-cl.img.susercontent.com/file/04166fc511d1c65c59dc76caeb8b06f2_tn" alt="Rueda Colgante">
      </ion-thumbnail>
      <ion-label>
        <h2>Rueda Colgante</h2>
        <p>Cantidad: 2</p>
        <p>Precio: $20.000</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: $25.000</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger">Vaciar Carrito</ion-button>
        <ion-button color="success">Comprar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>----->


<ion-header >
  <ion-toolbar> 
    <ion-buttons slot="start">
      <!--icono de hamburguesa-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!--titulo e icono bonito-->
      <ion-icon name="cart"></ion-icon>
      Carrito de Compras
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de productos en el carrito -->
  <ion-list>
      <!-- Lista de productos en el carrito -->
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <!-- Imagen manga -->
        <img src="assets/img/onepice.jpg" alt="Imagen del producto">
      </ion-thumbnail>
      <ion-label>
        <h2>Nombre del Producto</h2>
        <p>CLP Precio del Producto</p>
        <p>Envío: CLP Costo de Envío</p>
      </ion-label>
      <!-- ajustar la cantidad del producto solo decorativos mientras -->
      <ion-buttons slot="end">
        <ion-button>-</ion-button>
        <!--  cantidad actual -->
        <ion-label>1</ion-label>
         <!-- Botón para aumentar la cantidad de comics -->
        <ion-button>+</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Resumen del carrito -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Total  -->
      <p>Total estimado: CLP0</p>
      <ion-button expand="full" color="danger">Pagar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>



