
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="person"></ion-icon>
      Editar
      <ion-icon name="person"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Ejemplo de un producto en la lista -->
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/onepice.jpg" alt="Imagen del Producto">
      </ion-thumbnail>
      <ion-label>
        <h2>Nombre Product.</h2> 
        <p>Precio: $0.00</p>
      </ion-label>
      <!--boton en caso de que quieras eliminar o editar el comics-->
      <ion-buttons slot="end">
        <ion-button class="button-pink">Editar</ion-button>
        <ion-button class="button-red">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <!--url del comics-->
        <img src="assets/img/onepice.jpg" alt="Imagen del Producto">
      </ion-thumbnail>
      <ion-label>
        <h2>Nombre Product.</h2> 
        <p>Precio: $0.00</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button class="button-pink">Editar</ion-button>
        <ion-button class="button-red">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Repite el bloque anterior para cada producto que desees mostrar -->
  </ion-list>

  <!-- Botón para agregar un nuevo producto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button-pink">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
