<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo.jpg" alt="ComicsLocuras Logo" class="logo">
      <ion-icon name="star"></ion-icon>
      Marvel comics
      <ion-icon name="star"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="loadComics()">Cargar Comics</ion-button>

  <ion-list *ngIf="comics.length > 0">
    <ion-item *ngFor="let comic of comics">
      <ion-thumbnail slot="start">
        <img [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" alt="Comic Image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ comic.title }}</h2>
        <p>{{ comic.description || 'Sin descripción' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


