<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fatal Error</ion-title>
  </ion-toolbar>
</ion-header>

<!--imagen not found en caso de-->
<ion-content class="ion-padding not-found-content">
  <div class="container">
    <img src="https://c.tenor.com/IHdlTRsmcS4AAAAM/404.gif" alt="">
    <h1>404</h1>
    <h2>¡Oops! Página no encontrada</h2>
    <p>Lo sentimos, pero la página que estás buscando no existe o ha sido movida.</p>
    <ion-button expand="block" routerLink="/">Volver al Inicio</ion-button>
  </div>
</ion-content>